<header>
  <nav class="navbar">
    <div class="logo">
      <img src="assets/images/github_PNG10.png" class="logo" alt="">
    </div>
    <h2 class="titulos">PRUEBA TÉCNICA </h2>
    <ul class="menu" id="menu">
     <div class="prueba"><li><a href="#">Home</a></li></div>

      <li><a [routerLink]="['/lista']" routerLinkActive="router-link-active" >Listar</a></li>

    </ul>
    <div class="menu-bar" id="menu-bar" (click)="prueba()"><i class="fa-solid fa-bars" ></i></div>

  </nav>
  </header>
